<!DOCTYPE html>


<title>How many students?</title>

<body>

<header> 
<form method = "post" action = "class_size">
	<input type = "number" name = "students">
	<input type = "submit">
</form>
</header>
</body>
</!DOCTYPE html>