This is the work everyone just stole from me!<br>
<br>
This is a random paring app. It will take a list of names seperated by a "," and randomly pair them. Should your list have an odd number of names it will add the remaining name to the last group.<br>
<br>
Enter your list of names below. Then click submit.<br>
<br>
Example of list 

<form method = "post" action = "names">
	<% class_size.to_i.times do %>

		<input type = "text" autofocus="autofocus" name = "user_names[]".capitalize>
	<% end %>
	<input type = "submit">
</form>




lyle, jacob, jeremy, ysabele, lotfi, cyndi, don, stephanie, susan, adam, mike, maxx, john